* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --main-color: #cc5500;
  --dark-orange-color: #813701;
  --secandary-color: #00e5ff;
}

body {
  font-family: "Work Sans", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 548px) {
  .container {
    min-width: 520px;
  }
}
@media (min-width: 768px) {
  .container {
    min-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    min-width: 950px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

.custom-btn {
  border: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.custom-btn:hover {
  background-color: #a24400;
}

/* Header */
header {
  position: fixed;
  z-index: 1050;
  width: 100%;
  top: 0;
  border-bottom: 1px solid var(--dark-orange-color);
}

header::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #0000007a;
  backdrop-filter: blur(1px);
}

header .container {
  min-height: 78px;
  display: flex;
  justify-content: space-between;
}

header .container .logo a {
  font-size: 36px;
  font-weight: 600;
}

header .container nav {
  display: flex;
  align-items: center;
}

header .container nav ul {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  header .container nav ul {
    display: none;
  }
}

header .container nav ul a {
  padding: 20px;
  display: block;
  transition: 0.3s;
}

.active,
header .container nav ul a:hover {
  color: var(--main-color);
}

header .container > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .container > div .search {
  padding: 15px;
  border-radius: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  transition: 0.3s;
  border: 1px solid #cc55003a;
}

header .container > div .search:focus-within {
  border: 1px solid var(--main-color);
}

@media (max-width: 992px) {
  header .container > div .search {
    display: none;
  }
}

header .container > div .search i {
  color: var(--main-color);
  font-size: 18px;
}

header .container > div .search input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  width: 210px;
  font-size: 18px;
}

/* --Header-- */
/* Landing */
.landing {
  background-image: url(../Assets/landing.jpg);
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  background-position: center;
  display: flex;
  align-items: center;
  color: white;
  padding-top: 80px;
}

.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right, #000000 60%, #ffffff24);
  filter: opacity(0.6) blur(2px);
}

.mouse {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 45px;
  border-radius: 30px;
  border: 1px solid var(--main-color);
}

@media (max-width: 768px) {
  .mouse {
    display: none;
  }
}

.mouse::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 8px;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  background-color: var(--main-color);
  border-radius: 5px;
  animation: up-down 1s infinite;
}

.landing .container .content {
  position: relative;
  z-index: 1;
  max-width: 600px;
}

.landing .container .boarding {
  color: var(--main-color);
  background-color: #a2430021;
  border-radius: 20px;
  padding: 5px 10px;
  width: fit-content;
  font-weight: 600;
  border: 1px solid #a2440045;
}

.landing .container .boarding > span {
  display: inline-flex;
  position: relative;
}

.landing .container .boarding > span span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.landing .container .boarding > span span:last-of-type {
  position: absolute;
  left: 0;
  top: 0;
  animation: flashing 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  opacity: 0.75;
}

.landing .container h1 {
  font-size: 100px;
  margin: 25px 0;
  line-height: 1;
}

@media (max-width: 992px) {
  .landing .container h1 {
    font-size: 70px;
  }
}

.landing .container h1 span {
  color: var(--main-color);
  font-style: italic;
}

.landing .container p {
  font-size: 21px;
  color: #cecdda;
  line-height: 1.6;
}

.landing .container .btns button {
  font-weight: 600;
  font-size: 18px;
  padding: 15px 25px;
}

.landing .container .btns .journy {
  color: black;
  background-color: var(--secandary-color);
  margin-right: 10px;
  box-shadow: 0px 0px 16px var(--secandary-color);
}

.landing .container .btns .journy:hover {
  transform: scale(1.08);
}

.landing .container .btns .experience {
  backdrop-filter: blur(2px);
  background-color: #ffffff0d;
  border: 1px solid rgb(180 180 180 / 32%);
  margin-top: 10px;
}

.landing .container .btns .experience:hover {
  background-color: #ffffff29;
}

/* --Landing-- */

/* Animations */
@keyframes flashing {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes up-down {
  50% {
    top: 1px;
  }
  100% {
    top: 5px;
  }
}
