/* Landing */
.landing {
  background-image: url(../Assets/landing.jpg);
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  background-position: center;
  display: flex;
  align-items: center;
  color: white;
  padding-top: 80px;
}

.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right, #000000 60%, #ffffff24);
  filter: opacity(0.6) blur(2px);
}

.mouse {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 45px;
  border-radius: 30px;
  border: 1px solid var(--main-color);
}

@media (max-width: 768px) {
  .mouse {
    display: none;
  }
}

.mouse::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 8px;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  background-color: var(--main-color);
  border-radius: 5px;
  animation: up-down 1s infinite;
}

.landing .container .content {
  position: relative;
  z-index: 1;
  max-width: 600px;
}

.landing .container .boarding {
  color: var(--main-color);
  background-color: #a2430021;
  border-radius: 20px;
  padding: 5px 10px;
  width: fit-content;
  font-weight: 600;
  border: 1px solid #a2440045;
}

.landing .container .boarding > span {
  display: inline-flex;
  position: relative;
}

.landing .container .boarding > span span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.landing .container .boarding > span span:last-of-type {
  position: absolute;
  left: 0;
  top: 0;
  animation: flashing 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  opacity: 0.75;
}

.landing .container h1 {
  font-size: 100px;
  margin: 25px 0;
  line-height: 1;
}

@media (max-width: 992px) {
  .landing .container h1 {
    font-size: 70px;
  }
}

.landing .container h1 span {
  color: var(--main-color);
  font-style: italic;
}

.landing .container p {
  font-size: 21px;
  color: var(--text-color);
  line-height: 1.6;
}

.landing .container .btns button {
  font-weight: 600;
  font-size: 18px;
  padding: 15px 25px;
}

.landing .container .btns .journy {
  margin-right: 10px;
  box-shadow: 0px 0px 16px var(--secandary-color);
}

.landing .container .btns .experience {
  backdrop-filter: blur(2px);
  background-color: #ffffff0d;
  border: 1px solid rgb(180 180 180 / 32%);
  margin-top: 10px;
  box-shadow: none;
}

.landing .container .btns .experience:hover {
  background-color: #ffffff29;
}

/* --Landing-- */

/* Stats */
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  text-align: center;
}

.stats .container .stat:not(:first-child) {
  border-left: 1px solid #3f3b3b;
}

.stats .container .stat h2 {
  font-size: 50px;
  color: white;
  margin: 0;
  font-weight: 500;
}

.stats .container .stat p {
  font-size: 30px;
  margin: 0;
  color: var(--main-color);
}

@media (max-width: 768px) {
  .stats .container .stat:not(:first-child) {
    border-left: none;
    padding-top: 20px;
    border-top: 1px solid #3f3b3b;
  }
}
/* --Stats-- */

/* Destination */
.destinations .container .content {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
}

@media (max-width: 768px) {
  .destinations .container .content {
    grid-template-columns: 1fr;
  }
}

.destinations .container .content .card {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  aspect-ratio: 3 / 4;
  z-index: 1;
  cursor: pointer;
  background-image: linear-gradient(90deg, black, transparent);
}

.destinations .container .content .card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  bottom: 0;
  background-image: linear-gradient(to top, black, transparent);
}

.destinations .container .content .card.popular::before,
.destinations .container .content .card.new::before {
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px 8px;
  border-radius: 3px;
  font-weight: 600;
  line-height: 100%;
}

.destinations .container .content .card.new::before {
  content: "new";
  background-color: var(--secandary-color);
  color: black;
}

.destinations .container .content .card.popular::before {
  content: "Popular";
  background-color: var(--main-color);
  color: white;
}

.destinations .container .content .card img {
  width: 100%;
  display: block;
  position: absolute;
  z-index: -1;
  height: 100%;
  object-fit: cover;
  transition: 0.6s;
}

.destinations .container .content .card:hover img {
  transform: scale(1.1);
}

.destinations .container .content .card .card-info {
  padding: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.destinations .container .content .card .card-info > span {
  color: var(--main-color);
}

.destinations .container .content .card .card-info h4 {
  color: white;
  margin: 10px 0;
  font-size: 19px;
}

.destinations .container .content .card .card-info div span {
  color: var(--text-color);
  font-size: 14px;
  margin-right: 15px;
}

.destinations .container .content .card .card-info i {
  color: var(--secandary-color);
  margin-right: 3px;
}
/* --Destination-- */

/* Tours */
.tours .container .cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

@media (max-width: 768px) {
  .tours .container .cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.tours .container .cards .card {
  background-color: var(--bg-color-2);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
}

.tours .container .cards .card .image {
  flex: 1;
  border-radius: 15px;
  overflow: hidden;
}

.tours .container .cards .card .image img {
  width: 100%;
}

.tours .container .cards .card .card-info {
  flex: 2;
}

.tours .container .cards .card .card-info h3 {
  color: white;
  margin: 0;
  font-size: 25px;
}

.tours .container .cards .card .card-info p {
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.6;
}

.tours .container .cards .card .card-info div {
  color: var(--main-color);
  display: flex;
  gap: 15px;
}
/* --Tours-- */

/* Blogs */
.blogs .container .cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
}

@media (max-width: 768px) {
  .blogs .container .cards {
    grid-template-columns: minmax(0, 1fr);
  }
}

.blogs .container .cards .card {
  cursor: pointer;
}

.blogs .container .cards .card .image {
  border-radius: 15px;
  overflow: hidden;
}

.blogs .container .cards .card .image img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: 0.5s;
}

.blogs .container .cards .card:hover .image img {
  transform: scale(1.1);
}

.blogs .container .cards .card .card-info h4 {
  margin: 10px 0;
  color: var(--main-color);
  font-weight: 650;
}
.blogs .container .cards .card .card-info p {
  transition: 0.3s;
  color: white;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

.blogs .container .cards .card:hover .card-info p {
  color: var(--secandary-color);
}
/* --Blogs-- */

/* Activities */
.activities .container h1 {
  text-align: center;
  margin: 40px 0;
  font-size: 50px;
  font-weight: 700;
  color: white;
}

@media (max-width: 768px) {
  .activities .container h1 {
    font-size: 32px;
  }
}

.activities .container .cards {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
}

@media (max-width: 992px) {
  .activities .container .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.activities .container .cards .card {
  background-color: var(--bg-color-1);
  border-radius: 10px;
  padding: 32px;
  cursor: pointer;
  border: 1px solid transparent;
}

.activities .container .cards .card:hover {
  border-color: var(--main-color);
}

.activities .container .cards .card i {
  font-size: 50px;
  color: var(--main-color);
  transition: 0.3s;
}

.activities .container .cards .card:hover i {
  transform: scale(1.3);
}

.activities .container .cards .card h4 {
  font-size: 18px;
  margin: 25px 0;
  color: white;
}

.activities .container .cards .card p {
  color: var(--text-color);
  font-size: 14px;
}

/* --Activities-- */

/* About */
.about .container {
  display: flex;
  gap: 50px;
}

@media (max-width: 768px) {
  .about .container {
    flex-direction: column;
  }
}

.about .container .image {
  flex: 1;
  overflow: hidden;
  border-radius: 20px;
}
.about .container .image img {
  width: 100%;
}

.about .container div {
  flex: 1.5;
}

.about .container div span {
  color: var(--main-color);
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 600;
}

.about .container div h2 {
  color: white;
  font-size: 60px;
  font-weight: 700;
  margin: 30px 0;
}

@media (max-width: 768px) {
  .about .container div h2 {
    font-size: 40px;
  }
}

.about .container div p {
  line-height: 1.6;
  font-size: 18px;
  color: var(--text-color);
}

.about .container div button {
  padding: 20px 40px;
}

/* --About-- */

/* Contact */
.contact .container > div {
  position: relative;
  z-index: 0;
  padding: 30px;
  text-align: center;
  color: white;
  border-radius: 30px;
  overflow: hidden;
}

.contact .container > div img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(0.2);
  object-fit: cover;
}

.contact .container .content {
  max-width: 500px;
  margin: auto;
}

.contact .container h1 {
  font-size: 48px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .contact .container h1 {
    font-size: 30px;
  }
}

.contact .container p {
  font-size: 18px;
  line-height: 1.8;
  margin: 30px 0;
  color: var(--text-color);
}

.contact .container p span {
  color: var(--main-color);
  font-weight: 700;
  font-size: 20px;
}

.contact .container .btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact .container .btns input:focus {
  border-color: var(--main-color);
}

.contact .container .btns button {
  padding: 20px;
  flex: 1;
}
/* --Contact-- */

/* Animations */
@keyframes flashing {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes up-down {
  50% {
    top: 1px;
  }
  100% {
    top: 5px;
  }
}
