.light {
  background-color: #026bd1;
  top: 50%;
}

.light.left {
  left: 0;
  transform: translateY(-50%);
}

.light.right {
  right: 0;
  transform: translateY(-50%);
}

body {
  background-color: #0a0f14;
}

header {
  border-color: #1b2d3f;
  background-color: transparent;
}

header nav a:hover {
  color: var(--secandary-color) !important;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 100px 0 40px;
}

.content .container {
  position: relative;
  z-index: 1;
  padding: 40px;
  max-width: 450px;
  text-align: center;
  border-radius: 10px;
  background-color: #0e151c;
  border: 1px solid #ffffff1a;
}

.content .container h1 {
  color: white;
  margin: 0;
}

.content .container > p {
  margin: 10px 0;
  font-size: 15px;
  color: var(--text-color);
}

footer a:hover {
  color: var(--secandary-color) !important;
}
/* Styling Form For The Log-In Page */
form div label {
  color: white;
}

form div label a {
  color: var(--secandary-color);
  transition: 0.3s;
}

form div label a:hover {
  text-decoration: underline;
}

form .submit {
  background-color: var(--secandary-color);
}

form .submit:hover {
  background-color: #02b9cd;
}

form div input {
  background-color: #0f1623;
  border-color: #ffffff1a;
}

form div input:focus {
  border-color: var(--secandary-color);
}

.has-account div a {
  border-color: #334155;
  background-color: #1e293b80;
  transition: 0.2s;
}

.has-account div a:hover {
  background-color: #1e293b;
}

.signup a {
  color: var(--secandary-color);
}
