body {
  background-color: #0a0a0a;
  text-align: center;
}

.light {
  top: 250px;
}

.light.left {
  left: 0;
  background-color: var(--secandary-color);
}

.light.right {
  right: 0;
  background-color: var(--main-color);
}

header {
  border-color: #353535;
  background-color: transparent;
}

header .support {
  color: #828e9f;
  transition: 0.3s;
}

header .support:hover {
  color: white;
  text-shadow: 0px 0px 5px white;
}

.content .container {
  background-color: #141414;
  border-color: #353535;
}

.content .container h1 {
  text-shadow: 0 0 5px var(--secandary-color);
}

.content .container p {
  color: #94a3b8;
}

form label {
  color: #94a3b8;
}

form .field:focus-within i {
  color: var(--secandary-color);
}

form .field input {
  background-color: #ffffff0d;
  border-color: #353535;
}

form .submit:hover {
  background-color: #02b9cd;
}

.login {
  padding-top: 20px;
  font-size: 14px;
  border-top: 1px solid #242322;
}

.login a {
  color: #94a3b8;
  transition: 0.2s;
}

.login:hover a {
  color: var(--secandary-color);
}

.login i {
  color: #94a3b8;
  transition: 0.2s;
  font-size: 12px;
}

.login:hover i {
  color: var(--secandary-color);
  transform: translateX(-5px);
}

footer {
  color: #828e9f !important;
  border-color: transparent;
  padding: 20px 0;
  font-size: 14px;
}
