body {
  background-color: black;
  text-align: center;
}

.content {
  margin: 100px 0 20px;
}

.content .container {
  max-width: 450px;
  background-color: #141414;
  padding: 20px;
}

.content .container h1 {
  color: white;
}

.content .container p {
  color: #828e9f;
  font-size: 14px;
}
form div label {
  color: #828e9f;
  text-transform: uppercase;
  font-weight: 400;
}

form div input {
  background-color: #ffffff0d;
  border-radius: 15px;
  border-width: 2px;
  border-color: #2c2e2f;
}

form .submit {
  background-color: var(--secandary-color);
  box-shadow: 0 0 15px rgba(0, 242, 255, 0.4);
}

form .submit:hover {
  background-color: #02b9cd;
}

.content .container .login {
  margin-top: 20px;
}

footer {
  color: #828e9f !important;
}
