.light {
  background-color: var(--main-color);
}

.light.top {
  left: 40px;
  top: 40px;
}

.light.bottom {
  bottom: 40px;
  right: 40px;
}

.content > .container {
  max-width: 550px;
  border-radius: 20px;
  background-color: #0f0600a1;
  border-color: var(--main-color);
}

/* Styling Form For The Sign-Up Page */
form label {
  color: var(--main-color);
}

form .field i {
  color: var(--main-color);
}

form .field input:focus {
  border-color: var(--main-color);
}

form .field input {
  background-color: var(--bg-color-2);
  border-color: #cc550033;
}

form .submit {
  background-color: #39ff14;
  box-shadow: 0px 0px 10px 0px #37ff14b6;
}

form .submit:hover {
  box-shadow: 0px 0px 25px 0px #37ff14b6;
}

.has-account a {
  border-color: #cc550033;
  background-color: var(--bg-primary);
}

.has-account a:hover {
  border-color: var(--main-color);
  background-color: #cc55004a;
}

.login {
  font-size: 14px;
  color: var(--text-color);
}

.login a {
  font-size: 16px;
  margin-left: 10px;
  transition: 0.3s;
  color: var(--main-color);
  text-transform: uppercase;
}

.login a:hover {
  text-decoration: underline;
}
